/*utility classes*/
.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px); }

.more:after {
  content: "\2192"; }

.flex-video {
  position: relative;
  padding-top: 1.5625rem;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 1rem;
  overflow: hidden; }
  .flex-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.cta {
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .5px; }
  .cta:after {
    content: '\25b6\25b6\25b6';
    display: inline-block;
    margin-left: .25rem;
    font-size: 70%;
    vertical-align: middle;
    letter-spacing: -.5px; }

.collapse-section {
  position: absolute;
  top: 50%;
  right: 0;
  width: 2rem;
  height: 2rem;
  border: 0;
  background-color: #fff;
  color: #384543;
  font-size: .875rem;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  transition: .2s scale ease-in-out; }
  .collapse-section:after {
    content: "\25c0";
    display: block; }
  .collapse-section:hover {
    transform: scale(1.25); }
  .collapse-section.collapsed {
    top: 45%;
    left: 0; }
    .collapse-section.collapsed:after {
      content: "\25b6"; }

.section-collapsed {
  width: .125rem !important;
  padding: 2rem 0 2rem 2rem !important;
  overflow: hidden; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: #384543;
  font: 400 16px/1.6 "Montserrat", sans-serif;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.3; }

h2, h3, h4, h5, h6 {
  color: #384543; }

h2 {
  text-transform: uppercase;
  letter-spacing: .5px; }

p {
  margin-top: 0;
  margin-bottom: 1.5rem; }

a {
  color: #212928;
  text-decoration: none;
  cursor: pointer;
  transition: opacity .2s ease; }
  a:hover {
    opacity: .7; }

.content {
  width: 100%;
  height: calc(100% - 5rem); }

.container {
  height: 100%; }

.page {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%; }
  .page h1 {
    margin-bottom: .5rem;
    font-size: 1.75rem; }

.page-intro {
  position: relative;
  width: 40%;
  padding: 2rem;
  background-color: #384543;
  color: #fff;
  overflow-x: auto; }
  .page-intro p {
    max-width: 95%; }
  .page-intro a {
    color: #fff; }
  .page-intro hr {
    max-width: 30%;
    margin: 2rem auto;
    border-top: 6px solid #6E8787;
    border-bottom: 0; }

.page-content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: auto; }

.site-header {
  max-height: 5rem;
  padding: 1.125rem 2rem;
  background-color: #6E8787; }

.brand {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
  font-size: 1.125rem;
  text-transform: uppercase; }
  .brand svg {
    width: 3rem;
    height: auto;
    padding-right: .25rem;
    vertical-align: middle; }

.site-nav {
  position: fixed;
  top: 6.5rem;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 2rem 0 1rem;
  background-color: #fff;
  z-index: 999;
  opacity: .99;
  transition: left .2s ease-in-out; }
  @media screen and (min-width: 850px) {
    .site-nav {
      position: static;
      float: right;
      width: auto;
      height: auto;
      margin-top: .75rem;
      padding: 0;
      background-color: transparent;
      border-top: 0;
      opacity: 1; } }
  .site-nav.open {
    left: 0; }

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  margin: auto; }
  @media screen and (min-width: 850px) {
    .nav {
      width: auto; } }
  .nav li {
    margin-bottom: 2rem;
    text-align: center; }
    @media screen and (min-width: 850px) {
      .nav li {
        display: inline-block;
        margin-bottom: 0; } }
  .nav a {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-size: .875rem;
    color: #fff; }
    @media screen and (min-width: 850px) {
      .nav a {
        margin-left: 2rem; } }
    .nav a.active {
      color: #f5f5f5; }

.site-nav-control {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-block;
  float: right;
  height: auto;
  padding: .375rem 1rem;
  color: #384543;
  background: #fff;
  border-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem; }
  @media screen and (min-width: 850px) {
    .site-nav-control {
      display: none; } }

.open-site-nav:before {
  content: '\2630'; }

.close-site-nav:before {
  content: '\00D7'; }

.search {
  display: inline-block;
  background-color: transparent;
  border: 0;
  text-align: center;
  vertical-align: middle; }
  .search svg {
    width: auto;
    height: 1rem;
    fill: #fff; }

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 0 2rem; }
  .breadcrumbs li {
    display: inline-block;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 1px; }
    .breadcrumbs li:after {
      content: "/";
      display: inline-block;
      margin: 0 .5rem 0 .75rem; }
    .breadcrumbs li:last-child:after {
      content: "";
      margin: 0; }
    .breadcrumbs li a {
      text-decoration: none; }

.site-description {
  margin-top: 2rem;
  font-size: 1.75rem;
  line-height: 1.3; }

.site-meta {
  font-size: .75rem; }

.site-actions {
  list-style: none;
  margin: 0;
  padding: 0; }
  .site-actions li {
    margin-bottom: 1rem; }

.item-asset {
  width: 60%;
  max-width: 48rem;
  margin: 2rem auto; }
  .item-asset img {
    max-width: 100%;
    height: auto; }

.item-description {
  margin-top: 2rem; }

.item-collection-statement {
  font-style: italic; }

.item-tags {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem; }
  .item-tags .tag {
    display: inline-block;
    margin-right: .5rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: 3rem;
    border: 2px solid #fff;
    font-size: .8125rem; }

.item-metadata {
  list-style: none;
  margin: 0;
  padding: 0; }
  .item-metadata li {
    margin-bottom: .5rem;
    font-size: .875rem; }

.collection-map {
  height: 18rem; }

.collection-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 48rem;
  margin: 2rem auto 4rem; }

.collection-item {
  width: calc(25% - 2rem);
  margin: 0 1rem 2rem; }
  .collection-item a {
    display: block; }

.collection-item-asset {
  margin: 0; }
  .collection-item-asset img {
    max-width: 100%;
    height: auto; }
  .collection-item-asset figcaption {
    padding: 0 .25rem;
    font-size: .75rem; }

.collection-creators {
  font-size: .875rem; }

.content iframe {
  width: 100%;
  height: 100%;
  border: 0; }
