<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gathering Places</title>
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet">
</head>
<body>
  <!--header-->
  {% include header.html %}

  <!--content-->
  <main class="content" role="main">
    <div class="container">
      {{ content }}
    </div>
  </main><!-- content -->

  <!--footer-->
  {% include footer.html %}

  <!--scripts-->

</body>
</html>
